<ui-gmap-google-map center="map.center" options="map.options" zoom="map.zoom"
                    control="map.control" ng-show="map" refresh="!!map">
	<ui-gmap-markers models="markers" idKey="'id'" clusterOptions="map.cluster"
                   coords="'coordinates'" doCluster="true" click="onClick">
		<ui-gmap-window ng-repeat="marker in markers" coords="marker.coordinates" show="marker.show">
			<div>
				<b><a href="event/{{marker.id}}/">{{marker.title}}</a></b>
			</div>
		</ui-gmap-window>
	</ui-gmap-markers>
</ui-gmap-google-map>
