<div class="footer" layout-fill ng-controller="FooterCtrl">
    <div class="pull-right form-inline">
     	<input type="text" ng-model="url" class="form-control" readonly style="height:24px">
      <button ng-click="copyUrl($event)" tooltip="Copy URL to Clipboard" tooltip-trigger="mouseenter"
              type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-link"></span>
      </button>
    </div>
	<div class="pull-left">
	    <p>&copy; 2014 GDG[x] - Project Firefly - <a ng-href="https://github.com/gdg-x/firefly/">About</a></p>
	    <p>GDG[x] is an independent group; our activities and the opinions expressed on this Page should in no way be linked to Google, the corporation.</p>
    </div>
</div>
