<div class="footer" layout-fill ng-style="{'background-color': convertHex(tag.color, 20)}">
    <div class="pull-right form-inline">
     	<input type="text" ng-model="url" class="form-control" readonly style="height:24px">
      <md-button ng-click="copyUrl($event)" class="md-icon-button md-accent">
        <md-icon aria-label="Copy URL to Clipboard">link</md-icon>
        <md-tooltip md-direction="top">Copy URL to Clipboard</md-tooltip>
      </md-button>
    </div>
	<div class="pull-left">
	    <p>&copy; 2015 <a href="https://plus.google.com/+GDGXProject/">GDG[x]</a> - <a href="https://github.com/gdg-x/firefly/">Project Firefly</a></p>
	    <i>GDG[x] is an independent group; our activities and the opinions expressed on this Page should in no way be linked to Google, the corporation.</i>
    </div>
</div>
